@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-work: "Work Sans", sans-serif;

  --color-m-primary: #c1121f;
  --color-m-dark: #780000;
  --color-b-primary: #669bbc;
  --color-b-dark: #003049;
}



body {
  background-color: #0b090a;
  color: white;
}